{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block pagetitle %}QuranicTextDiff{% endblock %}
    </title>
    <link rel="stylesheet" type="text/css" href="{% static "qurantextdiff/css/bootstrap.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "qurantextdiff/css/stylesheet.css" %}">
    <script src="{% static "qurantextdiff/js/jquery-2.2.0.js" %}"></script>
    <script src="{% static "qurantextdiff/js/bootstrap.js" %}"></script>

    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
</head>

<body>
    {% block bodyblock %}
    {% endblock %}
</body>
</html>
