{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Details</title>
    <link rel="stylesheet" type="text/css" href="{% static 'qurantextdiff/css/bootstrap.min.css' %}">
    <style>
        .diff-column {
            font-family: "Arabic Typesetting";
            font-size: 1.3em;
            width: 45%;
        }

        .id-column {
            width: 10%;
        }
    </style>
</head>

<body>

{% autoescape off %}
    {{ difftable }}
{% endautoescape %}

<br><br><br>
{% autoescape off %}
    {{ difftable_diacritic }}
{% endautoescape %}

</body>
</html>
