<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>

<body>
<h1>Home page</h1>

<form action="details/" method="post">
    {% csrf_token %}
    <p>
        <label for="surah_no">Surah: </label>
        <input type="text" name="surah_no" width="100">
    </p>

    <p>
        Verse <br>
    <table>
        <tr>
            <td>
                <label for="verse_start">From: </label>
            </td>
            <td>
                <input type="text" name="verse_start"><br>
            </td>
        </tr>

        <tr>
            <td>
                <label for="verse_end">To: </label>
            </td>
            <td>
                <input type="text" name="verse_end">
            </td>
        </tr>
    </table>
    </p>

    <input type="submit" value="Test run">
</form>
</body>
</html>