.arabic {
    font-family: "Arabic Typesetting";
    font-size: 2em;
    direction: rtl;
}

.id-column {
    width: 6%;
}

.verse_column {
    width: 47%;
}

.tooltip {
    font-family: "Arabic Typesetting";
    font-size: 0.8em;
    direction: ltr;
}

.deleted {
    text-decoration: line-through;
}
